<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="log.css">
</head>
<body>
  <div class="container">
   <div>
    <h1>Login</h1>
   </div>
   <form action="/log" method="post">
    <input type="text" name = "email" placeholder="Email" />
    <input type="password" name = "password" placeholder="Password" />
    <input type="submit" value="Submit" >
    <div class="alt">
      New to the site?
      <a href="/sign">Create account</a>
    </div>
   </form>  
  </div>
</body>
</html>